In [62]:
import pandas as pd

# Reading data

In [63]:
df = pd.read_csv('data.csv')

In [64]:
df.head()

        fever  bodypain  age  runnynose   diffbreadth  infectionprob
0  101.256546         0   47           1           -1              1
1  100.636241         0   65           0            0              0
2   99.349476         0   46           0           -1              1
3  100.433957         0   65           0            0              0
4   98.489745         0   28           0           -1              0

In [65]:
df.tail()

           fever  bodypain  age  runnynose   diffbreadth  infectionprob
2117  100.342121         0   65           0            0              0
2118  101.694086         1   51           1            0              0
2119  101.912925         0   65           0            0              0
2120   99.652613         1   41           0            0              0
2121   98.674689         0   65           0            0              0

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2122 entries, 0 to 2121
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   fever          2122 non-null   float64
 1   bodypain       2122 non-null   int64
 2   age            2122 non-null   int64
 3   runnynose      2122 non-null   int64
 4   diffbreadth    2122 non-null   int64
 5   infectionprob  2122 non-null   int64
dtypes: float64(1), int64(5)
memory usage: 99.6 KB

In [67]:
df['diffbreadth'].value_counts()

 0    1453
 1     339
-1     330
Name: diffbreadth, dtype: int64

In [68]:
df.describe()

,fever,bodypain,age,runnynose,diffbreadth,infectionprob
count,2122.000000,2122.000000,2122.000000,2122.000000,2122.000000,2122.000000
mean,100.007384,0.247408,57.498115,0.243638,0.004241,0.245523
std,1.151809,0.431608,22.130368,0.429378,0.561604,0.430498
min,98.000967,0.000000,0.000000,0.000000,-1.000000,0.000000
25%,98.976121,0.000000,49.000000,0.000000,0.000000,0.000000
50%,100.017313,0.000000,65.000000,0.000000,0.000000,0.000000
75%,100.973557,0.000000,65.000000,0.000000,0.000000,0.000000
max,101.999746,1.000000,100.000000,1.000000,1.000000,1.000000

# Train test splitting

In [69]:
import numpy as np

In [70]:
def data_split(data, ratio):
    np.random.seed(42)
    shuffled = np.random.permutation(len(data))
    test_set_size = int(len(data) * ratio)
    test_indices = shuffled[:test_set_size]
    train_indices = shuffled[test_set_size:]
    return  data.iloc[train_indices], data.iloc[test_indices]

In [71]:
np.random.permutation(7)

array([4, 3, 1, 2, 5, 6, 0])

In [72]:
train, test =data_split(df, 0.2)

In [99]:
train

           fever  bodypain  age  runnynose   diffbreadth  infectionprob
2087  101.668829         0   65           0            0              0
351    98.272315         0   65           0            0              0
1820  100.673152         0   89           0           -1              0
1040   98.451358         0   27           1           -1              1
1760   98.998582         1   80           0            1              0
...          ...       ...  ...         ...          ...            ...
1638  101.780940         1   35           0            0              0
1095   98.507260         0   65           0            0              0
1130  100.633219         1   43           0            0              1
1294   99.400733         1   83           0            0              0
860   101.549743         0   38           1           -1              0

[1698 rows x 6 columns]

In [100]:
test

           fever  bodypain  age  runnynose   diffbreadth  infectionprob
1514   99.874700         1   63           0            0              0
408    98.907409         1   57           1            0              1
290    99.934652         1   97           1            1              0
1761  100.355797         0   65           0            0              0
332   101.844672         1    4           1            1              0
...          ...       ...  ...         ...          ...            ...
1301  100.778832         0   65           0            0              0
447   101.566559         0   65           0            0              0
1518   99.482630         0   89           0            0              1
218    99.750283         0   64           1            0              0
1611  101.596714         0   65           0            0              0

[424 rows x 6 columns]

In [103]:
X_train = train[['fever', 'bodypain', 'age','diffbreadth']].to_numpy()
X_test = test[['fever', 'bodypain', 'age', 'diffbreadth']].to_numpy()

In [104]:
Y_train = train [['infectionprob']].to_numpy().reshape(1698,)
Y_test = test [['infectionprob']].to_numpy().reshape(424,)

In [105]:
Y_train

array([0, 0, 0, ..., 1, 0, 0], dtype=int64)

In [106]:
from sklearn.linear_model import LogisticRegression

In [107]:
clf = LogisticRegression()
clf.fit(X_train, Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [118]:
inputFeatures=[99,1,21,1]
infectionProb = clf.predict_proba([inputFeatures])[0][1]

In [119]:
infectionProb

0.48912257606099796