In [1]:
import pandas as pd

In [84]:
df = pd.read_csv('data1.csv')

# Reading data

In [85]:
df.head()

        fever  bodyPain  age  diffbreath  infectionProb
0  101.256546         0   47          -1              1
1  100.636241         0   65           0              0
2   99.349476         0   46          -1              1
3  100.433957         0   65           0              0
4   98.489745         0   28          -1              0

In [86]:
df.describe()

             fever     bodyPain          age   diffbreath  infectionProb
count  2575.000000  2575.000000  2575.000000  2575.000000    2575.000000
mean    100.009354     0.254757    57.285825    -0.014369       0.243495
std       1.163925     0.435809    22.037878     0.564582       0.429275
min      98.000967     0.000000     0.000000    -1.000000       0.000000
25%      98.976344     0.000000    49.000000     0.000000       0.000000
50%     100.018713     0.000000    65.000000     0.000000       0.000000
75%     100.978212     1.000000    65.000000     0.000000       0.000000
max     101.999746     1.000000   100.000000     1.000000       1.000000

# Train Test spliting

In [31]:
import numpy as np

In [43]:
def data_split(data, ratio):
    np.random.seed(42)
    shuffled = np.random.permutation(len(data))
    test_set_size = int(len(data) * ratio)
    test_indices = shuffled[:test_set_size]
    train_indices = shuffled[test_set_size:]
    return data.iloc[train_indices], data.iloc[test_indices]

In [44]:
np.random.permutation(7)

array([3, 0, 2, 6, 5, 4, 1])

In [45]:
train, test = data_split(df, 0.2)

In [82]:
train

           fever  bodyPain  age  runnyNose  diffbreath  infectionProb
1703   98.357860         0   65          0           0              0
1675   99.181448         0   65          0           0              0
1518   99.482630         0   89          0           0              1
361   101.353617         0   65          0           0              0
1544  100.044705         1   44          0          -1              0
...          ...       ...  ...        ...         ...            ...
1638  101.780940         1   35          0           0              0
1095   98.507260         0   65          0           0              0
1130  100.633219         1   43          0           0              1
1294   99.400733         1   83          0           0              0
860   101.549743         0   38          1          -1              0

[2060 rows x 6 columns]

In [83]:
test

           fever  bodyPain  age  runnyNose  diffbreath  infectionProb
1644  101.597870         0   38          0           1              0
1189   99.952016         0   65          0           0              0
495   101.325229         0   65          0           0              0
1656  100.008505         0   90          1          -1              0
651    99.388757         0   65          0           0              0
...          ...       ...  ...        ...         ...            ...
1627  101.044458         0   65          0           0              0
471    99.598645         0   65          0           0              0
700   100.499492         0   90          1          -1              0
25    100.893433         0   65          0           0              0
755    99.953893         0   65          0           0              0

[515 rows x 6 columns]

In [50]:
X_train = train[['fever', 'bodyPain', 'age', 'diffbreath']].to_numpy() 
X_test = test[['fever', 'bodyPain', 'age', 'diffbreath']].to_numpy()

In [57]:
Y_train = train [['infectionProb']].to_numpy().reshape(2060,)
Y_test = test [['infectionProb']].to_numpy().reshape(515,)

In [58]:
Y_train

array([0, 0, 1, ..., 1, 0, 0], dtype=int64)

In [59]:
from sklearn.linear_model import LogisticRegression

In [60]:
clf = LogisticRegression()
clf.fit(X_train, Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [80]:
inputFeatures = [102, 1, 22, -1]
infProb = clf.predict_proba([inputFeatures])[0][1]

In [77]:
infProb

0.5937218845546394